

.nav-bar{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: -100px;
}
.nav-bar .logo{
    display: flex;
     
}
.nav-bar .logo p{
    margin-top: -5px;
    font-size: large;
}
.nav-bar .nav-items ul li{
    font-size: x-large;
    margin:0 8px;
}
.nav-bar .nav-items ul li a{
    color: rgb(61, 59, 59);
}
.nav-bar .nav-items ul li a.active{
    text-decoration: none;
    font-weight: bold;
}
 .nav-items .list{
    
    display: flex;
    list-style: none;
    margin: 0 20px;
}

#nav-btn:hover{
background-color: black;
color: whitesmoke;
}